<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEST</h1>

    <form action="/add-post" method="POST">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="content" placeholder="Content">
        <input type="submit" value="OK">
      </form>s
<% if(locals.blogList!=null){ %>
    <% console.log('blogList!=null'); %>
      <% for (let i = 0; i < blogList.length; i++) { %>
        <h1 name="title"><%= blogList[i].title %></h1>
          <p><%= blogList[i].content %></p>
        <form id="deleteForm<%= i %>" action="/del/<%= blogList[i]._id%>?_method=DELETE" method="POST">
          <!-- <input type="submit" value="Delete"> -->
          <button type="submit">Delete</button>
        </form>
      <% } %>
<% } %>
</body>
</html>